<fieldset class="panel {{ fieldset.classes }}">
    {% if fieldset.name %}<header class="panel-heading">{{ fieldset.name }} </header>{% endif %}

    <div class="panel-body">
        {% if fieldset.description %}
        <h5 class="text-center text-muted">{{ fieldset.description|safe }}</h5><br />
        {% endif %}

            {% for line in fieldset %}
            <div class="form-group{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                {% for field in line %}
                    <div {% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                        {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                        
                        {% if field.is_checkbox %}
                        <div class="col-lg-3"></div>
                        <div class="col-lg-7">
                            {{ field.field }} {{ field.label_tag }}
                            {% if field.field.help_text %}<p class="help-block">{{ field.field.help_text|safe }}</p>{% endif %}
                        </div>
                        {% else %}
                            <div class="col-lg-3">
                                <div class="control-label">
                                    {{ field.label_tag }}
                                </div>
                            </div>
                            <div class="col-lg-7">
                                {% if field.is_readonly %}
                                <p>{{ field.contents|linebreaksbr }}</p>
                                {% else %}
                                <div class="form-control">
                                    {{ field.field }}
                                </div>
                                {% endif %}
                                {% if field.field.help_text %}<p class="help-block">{{ field.field.help_text|safe }}</p>{% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}

    </div>
</fieldset>