{% extends 'base.html' %}
{% load site_tags %}

{% block title %}Album - {% endblock %}

{% block content %}

<div class="page-header">
  <h1>Album <small>relação de figurinhas que faltam</small></h1>
</div>

<div class="row">

  <div class="pd20">
    <p>Tenho <span class="label label-success">{{ tenho }}/{{ total }}</span></p>
    <p>Faltam <span class="label label-danger">{{ faltam }}/{{ total }}</span></p>
    <p>Repetidas <span class="label label-warning">{{ repetidas }}</span></p>
  </div>

  <div class="row pd20">
    <form class="navbar-form navbar-left" action="" method="GET">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Digite uma figurinha" value="{{ request.GET.q }}">
      </div>  
      <input type="submit" class="btn btn-warning" value="Pesquisar">
      {% if request.GET %}
        {% if encontrados and request.GET.q %}
        <p>Resultados da busca {{ encontrados }} figurinha(s) do album.</p>
        {% else %}
        <p>Nenhum figurinha encontrada.</p>
        {% endif %}
      {% endif %}
    </form>
  </div>

  <div class="row pd20">
    <div class="progress progress-striped">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ porcento }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ porcento }}%;">
      {{ porcento }}% do album
      </div>
    </div>
  </div>

  <table border="1" class="figurinhas" align="center">
      <tr>
  {% for f in figurinhas %}
          <td class="figurinha{% if f.tenho %} tenho{% endif %}{% if f.brilhante %} brilhante{% endif %}{% if request.GET.q|igual:f.nome %} busca{% endif %}">{{ f.nome }}</td>     
      {% if forloop.counter|divisibleby:20 %}
      </tr>
      <tr>
      {% endif %}   
  {% endfor %}    
      </tr>
  </table>

</div>

{% endblock %}